.destaque {
    background-color: rgb(211, 211, 12); 
    padding: 10px; 
    border: 1px solid #ccc; 
}


.container-destaque {
    margin-top: 20px; 
    padding: 15px; 
    background-color: #f0b9b9; 
}

.paragrafo_div{
    background-color: aqua;
}

.rodape{
    text-align: center;
}